@import "../../../../utils/variables.css";

.wrapper {
  position: relative;
}

.wrapper-inner {
  position: relative;
  display: flex;
  margin-bottom: 3px;
}

.match {
  font: 500 10px/12px Roboto;
  text-transform: uppercase;
  text-align: center;
  color: var(--sky-blue);
}

.image-common-contents {
  border-radius: 50%;
}

.image-with-progress {
  composes: image-common-contents;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.image-only {
  composes: image-common-contents;
}
